<div class="main-content">
	<div class="main-content-item">
		<div class="main-content-title main-content-title--hover">
			<p>Alterar Senha</p>
		</div>
		<form ng-submit="updatePassword()">
			<input type="password"
						 name="password"
						 class="form-input"
						 placeholder="Nova senha"
						 ng-model="currentUser.password"
						 required>
      <input type="password"
						 name="password"
						 class="form-input"
						 placeholder="Confirmar nova senha"
						 ng-model="currentUser.newPassword"
						 required>
			<button ng-if="currentUser.password === currentUser.newPassword" type="submit" class="button button--form">Enviar</button>
		</form>
	</div>
</div>