<div class="main-content">
  <div class="main-content-item">
    <div class="main-content-title main-content-title--hover">
      <p>{{ tag.id ? 'Editar Tag' : 'Criar Tag' }}</p>
    </div>

    <div class="main-content-item">
      <form ng-submit="save()">
        <input type="text"
               name="name"
               ng-model="tag.name"
               class="form-input"
               placeholder="Nome da tag"
               required>
        <button type="submit" class="button button--form">Enviar</button>
      </form>
    </div>

  </div>
</div>